[access]
	inheritFrom = Public-Plugins
[submit]
	action = inherit
[access "refs/*"]
	owner = group plugins-checks
[access "refs/heads/*"]
	delete = group google/gerritcodereview-maintainers@googlegroups.com
[project]
	description = This plugin provides a REST API and UI extensions for integrating CI systems with Gerrit.
